/* span{
    color: red;
    font-size: 50px;
    font-weight: bold;
    text-decoration: underline;
} */
h1{
    background-color: blue;
    color: white;
    display: inline;
    text-align: center;
}
span{
    padding: 20px;
    margin-right: 700px;
    background-color: red;
    color: white;
    text-align: center;
    display: inline-block;
}